body{
  font-family: Arial;
  text-align:center;
  background:#f2f2f2;
}

.box{
  margin-top:80px;
}

button{
  font-size:22px;
  padding:15px 30px;
  border:none;
  border-radius:10px;
  background:#4CAF50;
  color:white;
}

button:hover{
  background:#45a049;
}
