body{
  font-family: Arial;
  text-align:center;
  background:#f2f2f2;
}

.box{
  margin-top:60px;
}

.value{
	font-size:22px; 
	margin:10px;
}

button{
  font-size:20px;
  padding:12px 25px;
  margin:10px;
  border:none;
  border-radius:10px;
  background:#2196F3;
  color:white;
}

button:hover{
  background:#1976D2;
}

.back{
  background:#777;
}